<a href="https://colab.research.google.com/github/it-ces/Thesis-bankrupt/blob/main/Notebooks/Models(Thesis).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
################################
#         LIBRARIES            #
################################

import pandas as pd
# For processing data
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
import pandas as pd
from sklearn.model_selection import train_test_split
import os
from scipy import stats


## To modeling
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

# Assesment
from sklearn.metrics import classification_report, accuracy_score, precision_recall_fscore_support, confusion_matrix, precision_score, recall_score, roc_auc_score

In [ ]:
## Functions to Train

def Xy(df,target):
    """
    Split the data in X,y to ML implementations
    """
    X = df.loc[ : , df.columns != target]
    y = df[target].astype('int')
    return X,y

In [8]:
## Models


## Models with grid search

# Grid search hyperparameters for a logistic regression model
def grid_lr(X_train, y_train):
    model = LogisticRegression(random_state=666, max_iter=1000)
    class_weight =  [{0:0.05, 1:0.95}, {0:0.1, 1:0.9}, {0:0.2, 1:0.8}]
    solvers = ['liblinear']
    penalty = ['l2','l1']
    c_values = [ 10, 1.0, 0.1, 0.01, 0.001, ]
    grid = dict(solver=solvers,penalty=penalty,C=c_values, class_weight= class_weight)
    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv,
                           scoring='f1',error_score='raise')
    grid_result = grid_search.fit(X_train, y_train)
    return  grid_result.best_estimator_


# Grid search hyperparameters for a logistic regression model
def grid_MLP(X_train, y_train):
    model = MLPClassifier(random_state=1, max_iter=300)
    hidden_layer_sizes = [(8,), (100,)]
    activation =  ['tanh', 'relu', 'logistic']
    solver =  ['sgd', 'adam']
    alpha  = [0.0001, 0.05]
    #'learning_rate': ['constant','adaptive'], }
    grid = dict(hidden_layer_sizes=hidden_layer_sizes, activation= activation, solver= solver)
    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv,
                           scoring='f1',error_score='raise')
    grid_result = grid_search.fit(X_train, y_train)
    return  grid_result.best_estimator_

In [2]:
url = "https://raw.githubusercontent.com/it-ces/Thesis-bankrupt/main/Datasets/database-to-model.csv"

In [3]:
df = pd.read_csv(url)

In [5]:
df

,Unnamed: 0,evento2016,NIT,Clasificación Industrial Internacional Uniforme Versión 4 A.C,evento2017,evento2018,evento2019,time-event,event,Ganancia bruta-2016,...,Costo de ventas-2018,Patrimonio total-2018,Total pasivos-2018,Total de activos-2018,Ganancias acumuladas-2018,Otros pasivos financieros corrientes-2018,Pasivos corrientes totales-2018,Costos financieros-2018,Otros activos no financieros corrientes-2018,Activos corrientes totales-2018
0,0,0.0,800000313.0,Industrias manufacturetas,0.0,0.0,0.0,0.0,0.0,2776436.0,...,3394648.0,2340402.0,2133278.0,4473680.0,-52490.0,748201.0,1462295.0,176507.0,NaN,2234381.0
1,1,0.0,800000457.0,"Actividades profesionales, científicas y técn...",0.0,0.0,0.0,0.0,0.0,1225702.0,...,8362679.0,2806865.0,4225494.0,7032359.0,1701419.0,501819.0,4225494.0,NaN,479979.0,5858697.0
2,2,0.0,800001020.0,Actividades de servicios administrativos y de ...,0.0,0.0,0.0,0.0,0.0,4621382.0,...,NaN,25424546.0,6068028.0,31492574.0,25344300.0,4668536.0,6068028.0,13545.0,NaN,31468295.0
3,3,0.0,800001047.0,Comercio al por mayor y al por menor; reparaci...,0.0,0.0,0.0,0.0,0.0,2801353.0,...,7748711.0,2334231.0,1738026.0,4072257.0,1581138.0,NaN,1738026.0,22.0,NaN,3899150.0
4,4,0.0,800001075.0,"Agricultura, ganadería, caza, silvicultura y p...",0.0,1.0,1.0,2018.0,1.0,2376042.0,...,6126305.0,16996982.0,30211851.0,47208833.0,12156448.0,3848.0,17680462.0,837153.0,4516736.0,13261548.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26697,27205,NaN,901330952.0,Información y comunicaciones,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26698,27206,NaN,901333114.0,Actividades financieras y de seguros,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26699,27207,NaN,901341119.0,Actividades de servicios administrativos y de ...,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26700,27208,NaN,901341297.0,Comercio al por mayor y al por menor; reparaci...,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26701,27209,NaN,901351901.0,Actividades inmobiliarias,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN